.places {
    display: grid;
    gap: 80px;
    max-width: 984px;
    margin: 92px auto 0;
    padding: 0;
}

@media screen and (max-width: 1080px){
    .places {
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px){
    .places {
        margin: 88px 24px 0 24px;
        gap: 73px;
    }
}

@media screen and (max-width: 658px){
    .places {
        margin: 64px 0 0 0;
        gap: 50px;
    }
}
