.lead__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 148px 0 148px;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .lead__box {
        margin: 56px 48px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead__box {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 658px) {
    .lead__box {
        margin-top: 40px;
    }
}